body{
    background: #fffcfc;
    margin: 0;
    padding: 0;
}

.Navbar {
    background: #f2f2f2;
    padding: 2em;
    border-bottom: 2px solid black;
}

    .Primary-nav{
        display: flex;
        color: black;
     text-decoration: none;


    }
   
    .mobile-menu{
        cursor: pointer;
    }
a{ 
     color: black;
     text-decoration: none;
}

ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}

 section{
     padding: 2em;
 }

 .hero{
     text-align: center;
 }

 

.Navbar .container{
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
}

  .Navbar nav{
    display: flex;
    justify-content: space-between;
    position: unset;

}

.Navbar ul{
    display: flex;
    font-size: 1em;
    padding: .1em 1em;
}

.bottom-left{
    margin: 0;
    background-color: #f2f2f2;
    padding: 1em;
    border-top: 2px solid black;    
}

.third-nav{
    display: flex;
    color: black;
 text-decoration: none;


}

.bottom-left.container{
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
}

.bottom-left ul{
    display: flex;
    font-size: 1em;
    padding: .1em 1em;
}

a:hover{
    text-decoration: underline;
}

.p1{
    text-indent: 10px;
    line-height: 1.8;
}

.p2{
    text-indent: 20px;
}

.p3{
    text-indent: 30px;
}

.p4{
    text-indent: 30px;
}

.sidebar{
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 20px;
    background: #f2f2f2;
    width: 10%;
    height:380px;
    border-right: 2px solid black;
}